.projects-container {
  z-index: 8;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container .main-container-inner .project-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project-image {
  width: auto;
  max-width: 100%;
  border-radius: 16px;
  max-height: 320px;
}

.project-details-container {
  display: flex;
  padding: 48px;
  gap: 48px;
}

.projects-list {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 8px;
}

.project-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 16px;
  width: 100%;
}

.project-details {
  width: 100%;
  margin: auto;
}

.project-aeas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  align-content: center;
  gap: 16px;
  padding: 40px 0px;
  flex-wrap: wrap;
}

.project-container .policy-container {
  height: 85%;
  overflow: scroll;
  padding: 0px 24px;
}

.project-header {
  display: flex;
  gap: 16px;
  align-items: baseline;
  z-index: 10;
  cursor: pointer;
}

.project-header:hover h1 {
  color: gray;
}

.project-header:hover i {
  color: gray;
}

.project-card {
  border: 1px solid transparent;
  padding: 16px 24px;
  position: relative;
  width: 280px;
}

.project-card.card-small {
  width: 80px;
  padding: 2px 4px;
  text-align: center;
}

.project-card:hover {
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.project-card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
