.projects-container {
  z-index: 8;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  align-content: center;
  gap: 16px;
  padding: 40px 0px;
  flex-wrap: wrap;
}

.project-container .policy-container {
  height: 85%;
  overflow: scroll;
  padding: 0px 24px;
}

.project-card {
  border: 1px solid transparent;
  padding: 16px 24px;
  position: relative;
  width: 280px;
}

.project-card:hover {
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.project-card-link {
  position: absolute;
  height: 100%;
  width: 100%;
}
