<div id="inner-container" class="inner-container">
  <%= partial "partials/tabs" %>
  <div id="detail">
    <h1 id="detail-header">This is a header</h1>
    <p id="detail-description">This is a paragraph</p>
  </div>
  <div id="lists">
    <%= partial 'partials/list', locals: {data: data.work_list.work, list_id: 'work', active: true }  %>
    <%= partial 'partials/list', locals: {data: data.project_list.projects, list_id: 'projects', active: false }  %>
  </div>
</div>