<div id="inner-container" class="inner-container">
  <%= partial "partials/tabs" %>
  <div class="detail-container" id="detail">
  </div>
  <div id="lists">
    <%= partial 'partials/list', locals: {data: data.work_list.work, list_id: 'work', active: true }  %>
    <%= partial 'partials/list', locals: {data: data.project_list.projects, list_id: 'projects', active: false }  %>
  </div>
</div>